.header-address-section {
  padding: 60px 50px;
  background-color: #11224d;
}

.address-back-button {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.address-back-button h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 1px;

  transition: color 0.15s;
  cursor: pointer;
}

.address-back-button h6:hover {
  color: #fb9b50;
}

.address-back-button img {
  width: 20px;
  height: 20px;
}

.header-address-section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-address-section-row h1,
.header-address-section-row h5,
.header-address-section-row h6 {
  margin: 0;
  color: white;
}

.header-address-section-row h6 {
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-address-section-row h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-address-section-row h5 {
  font-size: 16px;
  font-weight: 300;
}

.header-address-section-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  font-size: 14px;
  font-family: raleway;
  color: white;
  letter-spacing: 1px;
  border: none;
  background-color: #f98125;

  cursor: pointer;
  transition: background-color 0.15s;
}

.header-address-section-row img {
  width: 20px;
  height: 20px;
}

.header-address-section-row button:hover {
  background-color: #fb9b50;
}

.add-address-modal {
  width: 40%;
  padding: 40px;
  border-radius: 20px;
  border: none;
}

.add-address-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-address-modal h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  transform: scaleY(1.2);
  transform-origin: center center;
  color: #11224d;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.add-address-modal label {
  font-size: 12px;
  font-weight: 500;
  color: #11224d;
  letter-spacing: 1px;
  margin-bottom: 15px;
  display: block;
}

.add-address-modal input {
  font-size: 14px;
  font-family: raleway;
  color: #11224d;

  padding: 15px;
  width: 100%;
  margin-bottom: 20px;

  border: solid 1px #d1d5dbc4;
  box-sizing: border-box;
}

.add-address-modal .number {
  font-family: "Open Sans";
}

.add-address-modal input:focus {
  outline: none;
  border: solid 1px #11224d;
}

.add-address-row-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.add-address-row-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  margin-bottom: 15px;
}

.add-address-modal .add-address-button-section {
  display: flex;
  justify-content: end;
}

.add-address-button-section button {
  /* width: 100%; */
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 25px;

  color: white;
  border: none;
  background-color: #f98125;

  cursor: pointer;
  transition: background-color 0.15s;
}

.add-address-button-section button:hover {
  background-color: #fb9b50;
}

.add-address-modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.add-address-modal .close-button button {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  background-color: white;
  border: none;

  cursor: pointer;
  transition: color 0.15s;
}

.add-address-modal .close-button button:hover {
  color: #757575;
}

.address-section {
  padding: 50px;
  background-color: #f2f3f5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.single-address {
  background-color: white;
  padding: 40px;

  box-shadow: 0px 5px 20px #11224d4f;

  position: relative;
}

.single-address-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  padding-bottom: 20px;
}

.single-address-info img {
  width: 30px;
  height: 30px;
}

.single-address-info h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.single-address-info h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #4e525c;
  margin-bottom: 10px;
}

.single-address-info .number {
  font-family: "Open Sans";
  margin-bottom: 0;
}

.address-button-section {
  border-top: solid 1px #d1d5dbc4;
  padding-top: 20px;

  display: flex;
  gap: 15px;
}

.address-button-section button {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.address-button-section button img {
  width: 18px;
  height: 18px;
}

.address-button-section .set-as-default {
  background-color: #11224d;
  color: white;
  border: none;
  transition: background-color 0.15s;
}

.address-button-section .set-as-default:hover {
  background-color: #193a6f;
}

.address-button-section .edit {
  background-color: white;
  border: solid 1px #d1d5dbc4;
  transition: border-color 0.15s;
}

.address-button-section .edit:hover {
  border-color: #11224d;
}

.address-button-section .delete {
  background-color: white;
  color: red;
  border: solid 1px #d1d5dbc4;
  transition: border-color 0.15s;
}

.address-button-section .delete:hover {
  border-color: red;
}

.single-address .default {
  position: absolute;
  top: 0;
  right: 0;

  padding: 7px 15px;
  background-color: #f98125;
}

.single-address .default h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
