.header-admin-section {
  padding: 60px 50px;
  background-color: #11224d;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-admin-section h1,
.header-admin-section h5,
.header-admin-section h6 {
  margin: 0;
  color: white;
}

.header-admin-section h6 {
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-admin-section h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-admin-section h5 {
  font-size: 16px;
  font-weight: 300;
}

.header-admin-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  font-size: 14px;
  font-family: raleway;
  color: white;
  letter-spacing: 1px;
  border: none;
  background-color: #f98125;

  cursor: pointer;
  transition: background-color 0.15s;
}

.header-admin-section img {
  width: 20px;
  height: 20px;
}

.header-admin-section button:hover {
  background-color: #fb9b50;
}

/*  */
.admin-section-overview {
  padding: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.admin-section-overview-single {
  padding: 30px;
  box-shadow: 0px 5px 15px #11224d4f;
}

.admin-section-overview-single img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.admin-section-overview-single h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #4e525c;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.admin-section-overview-single .number {
  font-family: "Open Sans";
  font-weight: 550;
  color: #11224d;
  margin-bottom: 0;
}

/*  */
.admin-section {
  padding: 60px 50px;
  background-color: #f2f3f5;
}

.admin-section-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 3px #f98125;
}

.admin-section-tab img {
  width: 20px;
  height: 20px;
}

.admin-section-icon-gray {
  position: relative;
}

.admin-section-icon-white {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  transition: opacity 0.15s;
}

.admin-section-tab button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px;
  font-family: raleway;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #757575;

  background-color: white;
  border: none;

  cursor: pointer;

  transition: background-color 0.15s, color 0.15s;
}

.admin-section-tab button:hover,
.admin-section-tab button:focus {
  background-color: #f98125;
  color: white;
}

.admin-section-tab button:hover .admin-section-icon-white,
.admin-section-tab button:focus .admin-section-icon-white {
  opacity: 1;
}

.single-admin-section {
  background-color: white;
  box-shadow: 0px 5px 20px #11224d4f;

  margin-bottom: 20px;
}
