.our-collections {
  padding: 100px 50px;
}

.our-collections h1,
.our-collections h3,
.our-collections h4 {
  margin: 0;
  margin-bottom: 30px;
}

.our-collections h4 {
  font-weight: 500;
  color: #f98125;
  letter-spacing: 3px;
}

.our-collections h1 {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
}

.our-collections h3 {
  font-weight: 300;
}

.collections-grid-row1 {
  display: grid;
  grid-template-rows: 700px 500px;
  gap: 30px;
  margin-top: 80px;
}

.collections-grid-column1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.collections-grid-row2 {
  display: grid;
  grid-template-rows: 335px 335px;
  gap: 30px;
}

.collections-image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.collections-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.collections-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0px 0px 50px 50px;
  z-index: 5;
}

.collections-info h2 {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
}

.discover-row {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.5s;
}

.discover-row h4 {
  margin: 0;
  letter-spacing: 5px;
}

.discover-row img {
  height: 20px;
  width: 20px;
}

.collections-image:hover .discover-row {
  transform: translateX(10px);
}

.collections-image:hover img {
  transform: scale(1.1);
}

.collections-image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
}
