.main-footer-section {
  padding: 70px 70px;
  color: white;
  background-color: #11224d;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db65;
}

.single-footer-row p {
  margin: 0;
  color: #d1d5db;
}

.single-footer-title {
  font-size: 26px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 30px;
}

.single-footer-description {
  line-height: 30px;
  font-weight: 500;
  max-width: 280px;
}

.socials-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.socials-icon {
  background-color: #193a6f;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 23px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.socials-icon:hover {
  background-color: #f98125;
}

.socials-icon img {
  width: 20px;
}

.single-footer-links p {
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.15s;
}

.single-footer-links p,
.single-footer-contacts p {
  letter-spacing: 1px;
  font-weight: 500;
}

.single-footer-links p:hover {
  color: #f98125;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 20px;
}

.contact-row img {
  width: 20px;
}

.contact-row .contact-number {
  font-family: "Open Sans";
}

.copyright-section {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans";

  background-color: #11224d;
  color: white;
}
