.header {
  min-height: 550px;
  height: calc(100dvh - 80px);
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #11224d, #11224dd5);
  pointer-events: none;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header-section h1,
.header-section h3,
.header-section h4 {
  margin: 0;
  margin-bottom: 50px;
}

.header-section h4 {
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
}

.header-section h1 {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  width: 400px;
  transform: scaleY(1.3);
  transform-origin: center center;
}

.header-section h3 {
  font-weight: 300;
  max-width: 850px;
  line-height: 30px;
}

.header-section button {
  background-color: #f98125;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: raleway;

  letter-spacing: 1px;
  width: 250px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.header-section button:hover {
  background-color: #fb9b50;
}

.arrow-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
}

.arrow-down img {
  height: 30px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
