.user-login-section,
.user-register-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .user-login-section {
  height: calc(100dvh - 80px);
} */

.user-left-section {
  position: relative;
}

.user-left-section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #11224dd5;
  pointer-events: none;
}

.user-left-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-left-section-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: white;

  width: 600px;
}

.user-left-section h1,
.user-right-section h1 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 2px;
  transform: scaleY(1.2);
  transform-origin: center center;
}

.user-left-section h3,
.user-right-section h3 {
  margin: 0;
  font-weight: 300;
  line-height: 35px;
  font-size: 16px;
}

.user-right-section {
  padding: 50px 150px;
}

.user-right-section label,
.user-right-section button {
  display: block;
}

.user-right-section label {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.user-right-section input {
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: raleway;
  color: #11224d;
  border: solid 1px #d1d5dbc4;
  box-sizing: border-box;
}

.user-right-section input:focus {
  outline: none;
  border: solid 1px #11224d;
}

.user-right-section button {
  width: 100%;
  padding: 20px 0px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  font-family: raleway;

  background-color: #f98125;
  color: white;
  border: none;

  cursor: pointer;
  transition: background-color 0.15s;

  margin-bottom: 30px;
}

.user-right-section button:hover {
  background-color: #fb9b50;
}

.user-right-section h2 {
  margin: 0;
  margin-bottom: 50px;
}

.user-right-section h1 {
  margin-bottom: 20px;
}

.user-right-section h3 {
  margin-bottom: 50px;
}

.user-right-section .password-reminder {
  margin-top: -20px;
  margin-bottom: 30px;
}

.user-right-section .h3-guide {
  text-align: center;
}

.user-right-section .h3-guide-change {
  font-weight: 400;
  transition: color 0.15s;
  cursor: pointer;
}

.user-right-section .h3-guide-change:hover {
  color: #f98125;
}

.user-right-section .back-home-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-right-section .back-home-button img {
  width: 20px;
}

.user-right-section .back-home-button h3 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #4e525c;
  transition: color 0.15s;
  cursor: pointer;
}

.user-right-section .back-home-button h3:hover {
  color: #11224d;
}
