.header-my-account-section {
  padding: 60px 50px;
  background-color: #11224d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-my-account-section h1,
.header-my-account-section h5,
.header-my-account-section h6 {
  margin: 0;
  color: white;
}

.header-my-account-section h6 {
  font-weight: 400;
  font-size: 14px;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-my-account-section h1 {
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 3px;
  transform: scaleY(1.3);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-my-account-section h5 {
  font-weight: 300;
  font-size: 16px;
}

.header-my-account-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  font-family: raleway;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  border: solid 1px white;
  background-color: #11224d;

  cursor: pointer;
  transition: background-color 0.15s;
}

.header-my-account-section img {
  width: 20px;
  height: 20px;
}

.header-my-account-section button:hover {
  background-color: #193a6f;
}

.my-account-information-section {
  padding: 50px;
  background-color: #f2f3f5;
}

.my-account-information {
  padding: 50px;
  background-color: white;
  box-shadow: 0px 5px 20px #11224d4f;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.my-account-information-profile {
  width: 100px;
  height: 100px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11224d;
}

.my-account-information-profile img {
  width: 48px;
  height: 48px;
}

.my-account-information-info h2,
.my-account-information-info h5 {
  margin: 0;
}

.my-account-information-info h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.my-account-information-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.my-account-information-info-row h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.my-account-information-info-row .title {
  color: #4e525c;
  margin-bottom: 20px;
}

.my-account-information-info-row .number {
  font-family: "Open Sans";
  font-weight: 350;
  letter-spacing: normal;
}

.my-account-quick-actions-section {
  padding: 0px 50px 50px;
  background-color: #f2f3f5;
}

.my-account-quick-actions-section h3,
.my-account-quick-actions-section h4,
.my-account-quick-actions-section h5,
.my-account-quick-actions-section h6 {
  margin: 0;
}

.my-account-quick-actions-section h3 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.my-account-quick-actions-section-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.my-account-quick-actions-section-row-single {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 5px 20px #11224d4f;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.my-account-quick-actions-section-row-single:hover {
  box-shadow: 0px 5px 30px #11224d4f;
}

.my-account-quick-actions-section-row-single img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.my-account-quick-actions-section-row-single h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.my-account-quick-actions-section-row-single h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e525c;
  margin-bottom: 15px;
  line-height: 30px;
}

.my-account-quick-actions-section-row-single-row {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.15s;
}

.my-account-quick-actions-section-row-single-row h6 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #f98125;
}

.my-account-quick-actions-section-row-single-row img {
  width: 20px;
  height: 20px;
  margin: 0;
}

.my-account-quick-actions-section-row-single:hover
  .my-account-quick-actions-section-row-single-row {
  transform: translateX(10px);
}
