.header-orders-section {
  padding: 60px 50px;
  background-color: #11224d;
}

.orders-back-button {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.orders-back-button h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 1px;

  transition: color 0.15s;
  cursor: pointer;
}

.orders-back-button h6:hover {
  color: #fb9b50;
}

.orders-back-button img {
  width: 20px;
  height: 20px;
}

.header-orders-section-row h1,
.header-orders-section-row h5,
.header-orders-section-row h6 {
  margin: 0;
  color: white;
}

.header-orders-section-row h6 {
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-orders-section-row h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-orders-section-row h5 {
  font-size: 16px;
  font-weight: 300;
}
