.header-orders-section {
  padding: 60px 50px;
  background-color: #11224d;
}

.orders-back-button {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.orders-back-button h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 1px;

  transition: color 0.15s;
  cursor: pointer;
}

.orders-back-button h6:hover {
  color: #fb9b50;
}

.orders-back-button img {
  width: 20px;
  height: 20px;
}

.header-orders-section-row h1,
.header-orders-section-row h5,
.header-orders-section-row h6 {
  margin: 0;
  color: white;
}

.header-orders-section-row h6 {
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-orders-section-row h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-orders-section-row h5 {
  font-size: 16px;
  font-weight: 300;
}

.orders-section {
  padding: 60px 50px;
  background-color: #f2f3f5;
}

.orders-section-tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: solid 3px #f98125;
}

.orders-section-tab img {
  width: 20px;
  height: 20px;
}

.orders-section-icon-gray {
  position: relative;
}

.orders-section-icon-white {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  transition: opacity 0.15s;
}

.orders-section-tab button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px;
  font-family: raleway;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #757575;

  background-color: white;
  border: none;

  cursor: pointer;

  transition: background-color 0.15s, color 0.15s;
}

.orders-section-tab button:hover,
.orders-section-tab button:focus {
  background-color: #f98125;
  color: white;
}

.orders-section-tab button:hover .orders-section-icon-white,
.orders-section-tab button:focus .orders-section-icon-white {
  opacity: 1;
}

.single-order-section {
  background-color: white;
  box-shadow: 0px 5px 20px #11224d4f;

  margin-bottom: 20px;
}

.single-order-section-info {
  padding: 40px;
  background-color: #f2f3f5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #d1d5dbc4;
}

.single-order-section-info-row {
  display: flex;
  gap: 40px;
}

.single-order-section-info-row h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e525c;

  margin-bottom: 20px;
}

.single-order-section-info-row .number {
  font-family: "Open Sans";
  font-weight: 350;
  color: #11224d;

  margin-bottom: 0;
}

.single-order-section-info-status {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.single-order-section-info-status img {
  width: 20px;
  height: 20px;
}

.single-order-section-info-status h6 {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.to-ship {
  border: solid 2px #f98125;
  color: #f98125;
}

.to-receive {
  border: solid 2px #11224d;
  color: #11224d;
}

.delivered {
  border: solid 2px #008000;
  color: #008000;
}

.single-order-section-orders {
  padding: 40px;
}

.single-order-section-orders-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.single-order-section-orders-row img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.single-order-section-orders-row h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.single-order-section-orders-row h5 {
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 350;
  letter-spacing: 1px;
  color: #4e525c;

  margin-bottom: 10px;
}

.single-order-section-orders-row .price {
  color: #f98125;
  margin-bottom: 0;
}

.single-order-section-orders-info {
  padding: 40px 0px;
  border-top: solid 1px #d1d5dbc4;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.single-order-section-orders-info-row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.single-order-section-orders-info-row img {
  width: 25px;
  height: 25px;
}

.single-order-section-orders-info-row h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e525c;

  margin-bottom: 20px;
}

.single-order-section-orders-info-row .number {
  font-family: "Open Sans";
  font-weight: 350;
  color: #11224d;

  margin-bottom: 0;
}

.single-order-section-orders-button {
  display: flex;
  gap: 15px;
}

.single-order-section-orders-button button {
  font-size: 14px;
  font-weight: 500;
  font-family: raleway;
  letter-spacing: 1px;
  padding: 10px 20px;

  cursor: pointer;
}

.single-order-section-orders-button .primary {
  background-color: white;
  color: #11224d;
  border: solid 1px #d1d5dbc4;
  transition: border-color 0.15s;
}

.single-order-section-orders-button .primary:hover {
  border-color: #11224d;
}

.single-order-section-orders-button .orange {
  background-color: #f98125;
  color: white;
  border: none;
  transition: background-color 0.15s;
}

.single-order-section-orders-button .orange:hover {
  background-color: #fb9b50;
}

.single-order-section-orders-button .blue {
  background-color: #11224d;
  color: white;
  border: none;
  transition: background-color 0.15s;
}

.single-order-section-orders-button .blue:hover {
  background-color: #193a6f;
}
