.header-products-section {
  margin: 160px 50px 0px;
  border-bottom: solid 1px #d1d5dbc4;
}

.header-products-section h1,
.header-products-section h3,
.header-products-section h4 {
  margin: 0;
  margin-bottom: 30px;
}

.header-products-section h4 {
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
}

.header-products-section h1 {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
  transform: scaleY(1.3);
  transform-origin: center center;
}

.header-products-section h3 {
  font-weight: 300;
  max-width: 850px;
  line-height: 30px;
}

.products-search-bar {
  width: 400px;
  padding: 12px;
  font-size: 16px;
  font-family: raleway;
  color: #11224d;
  border: solid 1px #d1d5dbc4;
}

.products-search-bar::placeholder {
  font-size: 16px;
  font-family: raleway;
}

.products-search-bar:focus {
  outline: none;
  border: solid 1px #11224d;
}

.search-button {
  font-size: 16px;
  padding: 12px;
  color: #11224d;
  border: solid 1px #d1d5dbc4;
  background-color: white;

  transform: translateX(-4px);
  transition: border-color 0.15s;
}

.search-button:hover {
  border-color: #11224d;
}

.category-row {
  display: flex;
  gap: 20px;
  margin: 30px 0px;
}

.header-products-section button {
  font-family: raleway;
  cursor: pointer;
}
.category-row button {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #11224d;
  background-color: white;
  padding: 10px 20px;
  border: solid 1px #d1d5dbc4;

  transition: color 0.15s, background-color 0.15s;
}

.category-row button:active,
.category-row button:hover {
  background-color: #11224d;
  color: white;
}

.all-products-section {
  padding: 0px 50px 80px;
}

.total-amount-products {
  margin: 0;
  margin-top: 50px;
  font-weight: 400;
  color: #606470;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
