.header-single-order-section {
  padding: 60px 50px;
  background-color: #11224d;
}

.single-order-back-button {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.single-order-back-button h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 1px;

  transition: color 0.15s;
  cursor: pointer;
}

.single-order-back-button h6:hover {
  color: #fb9b50;
}

.single-order-back-button img {
  width: 20px;
  height: 20px;
}

.header-single-order-section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-single-order-section-row h1,
.header-single-order-section-row h5,
.header-single-order-section-row h6 {
  margin: 0;
  color: white;
}

.header-single-order-section-row h6 {
  font-size: 14px;
  font-weight: 400;
  color: #f98125;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.header-single-order-section-row h1 {
  font-size: 56px;
  font-weight: 300;
  font-family: "Open Sans";
  letter-spacing: 3px;
  transform: scaleY(1.2);
  transform-origin: center center;
  margin-bottom: 20px;
}

.header-single-order-section-row h5 {
  font-size: 16px;
  font-weight: 300;
}

.header-single-order-section-row-status {
  background-color: white;
  padding: 10px;
}

.header-single-order-section-status {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.header-single-order-section-status img {
  width: 25px;
  height: 25px;
}

.header-single-order-section-status h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.to-ship {
  border: solid 2px #f98125;
  color: #f98125;
}

.to-receive {
  border: solid 2px #11224d;
  color: #11224d;
}

.delivered {
  border: solid 2px #008000;
  color: #008000;
}

.single-order-section-grid {
  padding: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  background-color: #f2f3f5;
}

.single-order-section {
  background-color: white;
  height: fit-content;
  padding: 40px;
  box-shadow: 0px 5px 20px #11224d4f;
  margin-bottom: 30px;
}

.single-order-title {
  border-bottom: solid 1px #d1d5dbc4;
  padding-bottom: 30px;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.single-order-title img {
  width: 30px;
  height: 30px;
}

.single-order-title h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  transform: scaleY(1.1);
  transform-origin: center center;
}

.order-timeline-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;

  margin-bottom: 30px;
}

.order-timeline {
  position: relative;
}

.order-timeline-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;

  background-color: #f98125;

  display: flex;
  justify-content: center;
  align-items: center;
}

.order-timeline-icon img {
  width: 24px;
  height: 24px;

  z-index: 100;
}

.order-timeline-icon-line {
  position: absolute;
  top: 0;
  bottom: 0;

  border-left: solid 2px #f98125;

  transform: translateX(24px);
}

.order-timeline-info h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;

  margin-top: 5px;
}

.order-timeline-info h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e525c;

  margin-top: 10px;
}

.order-timeline-info .number {
  font-family: "Open Sans";
  font-weight: 350;
}

.order-items-row {
  display: flex;
  gap: 20px;

  margin-bottom: 30px;
}

.order-items-row img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.order-items-info h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4e525c;
}

.order-items-info h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;

  margin-top: 10px;
}

.order-items-info h5 {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 350;
  color: #4e525c;
  letter-spacing: 1px;

  margin-top: 10px;
}

.order-items-info .price {
  color: #f98125;
}

.single-order-section-row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.single-order-section-row h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4e525c;
}

.single-order-section-row .number {
  font-family: "Open Sans";
  flex-shrink: 0;
}

.border-top {
  border-top: solid 1px #d1d5dbc4;
  padding-top: 25px;
  margin-bottom: 0;
}

.border-top h5 {
  color: #11224d;
}

.single-order-section-info h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #4e525c;
  margin-bottom: 25px;
}

.single-order-section-info .name {
  color: #11224d;
}

.single-order-section-info .number {
  font-family: "Open Sans";
  font-weight: 350;
  color: #11224d;
  margin-bottom: 0;
}

.single-order-section-info .payment-name {
  color: #11224d;
  margin-bottom: 0;
}

.single-order-section-info .phone-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-order-section-info .phone-row img {
  width: 18px;
  height: 18px;
}
